@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #f1f3f3;
  margin: 0 auto;
}

.dashboard-container{
  max-width: 1440px;
  margin: 0 auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.sidebar {
  width: 20%;
  max-width: 280px;
  height: 100vh;
  max-height: 1000px;
  color: #fff;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.sidebar-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgba(20, 70, 67, 1); */
  height: 95%;
  width: 100%;
  border-radius: 20px;
  margin: auto 0;
  position: relative;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgba(20, 70, 67, 1) 3%,
    rgba(39, 119, 104, 1) 38%,
    rgba(20, 70, 67, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  overflow: hidden;
}
.wave-1 {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: absolute;
  width: 200%;
  height: 8rem;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.wave-1:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave-1:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}
@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

.logo {
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: rgba(39, 119, 104, 1);
}
nav ul li a i{
  margin-right: 14px;
}

.sidebar-footer {
  margin-top: auto;
  bottom: 20px;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.sidebar-footer p {
  font-size: 12px;
  font-weight: 400;
}

.content {
  margin-left: 20%;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.banking h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 12px;
}

.banking p {
  font-weight: 400;
}

.profile-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* styles.css */
.dashboard {
  display: flex !important;
  flex-direction: row;
  gap: 20px;
}
.content-section {
  display: none;
}

.content-section.show {
  display: block;
}
.mobile-header {
  display: none;
}

/* card acct balance */
.card {
  background-color: #fff;
  background: linear-gradient(
    to bottom right,
    rgba(225, 255, 160, 1),
    rgba(20, 70, 67, 1)
  );
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  max-height: 200px;
}

.balance-container {
  text-align: left;
  margin-bottom: 20px;
  position: relative;
}

.balance {
  font-size: 24px;
  font-weight: bold;
}

#toggle-balance {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

#eye-icon {
  width: 24px;
  height: 24px;
  stroke: #333;
}

.card-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-holder {
  display: flex;
  justify-content: space-between;
}

/* categories section */
.category-container {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.description {
  padding-top: 4px;
  font-size: 14px;
  color: #888;
}

.category-list {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.category {
  display: flex;
  align-items: center;
  padding: 10px;
}

.category-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 10px;
}

.installment {
  background-color: #e0b3ff;
  color: #8b3aff;
}

.category-info {
  flex-grow: 1;
}

.progress-bar {
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #e0b3ff;
}

.spent {
  color: #888;
  margin-top: 5px;
}

/* transaction history */

.transaction-container {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}
.all-transactions,
.spending-category {
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}
.all-transactions h3,
.spending-category h3 {
  font-weight: 300;
}

.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transaction {
  display: flex;
  align-items: center;
  padding: 10px;
}

.transaction-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 10px;
}

.transaction-icon.income {
  color: #00a389;
  background-color: #2ed6a326;
}

.transaction-icon.expense {
  color: #ff5b5b;
  background-color: #ff5b5b26;
}

.transaction-info {
  flex-grow: 1;
}

.transaction-name,
.category-info h3 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}

.transaction-details {
  margin: 5px 0 0;
  color: #888;
  font-size: 14px;
}

.transaction-amount {
  font-weight: 500;
  margin-left: 10px;
}

.income {
  color: green;
}

.expense {
  color: red;
}

/* grid container */
.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

/* Mobile styles */
@media (max-width: 768px) {
  .card {
    max-width: 450px;
  }
  .sidebar {
    width: 250px;
    left: -250px;
    transition: left 0.3s ease;
    z-index: 200;
  }

  .sidebar.open {
    left: 0;
  }

  .content {
    margin-left: 0;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18px;
    /* background-color: #333; */
    color: #fff;
  }

  .menu-btn {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
  }

  .overlay.show {
    display: block;
    /* z-index: 1; */
  }
  .dashboard {
    flex-direction: column;
  }
  .grid-container,
  .transaction-container {
    width: 100%;
  }
  header .profile-picture {
    visibility: hidden;
  }
}


/* profile section */
.profile-card {
  width: 100%;
  max-width: 500px;
  min-height: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-card h2 {
  margin-bottom: 20px;
}

.profile-card .profile-picture img{
  width: 100px;
  height: 100px;
}

.profile-card .profile-picture{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: 2px solid #00a389;
  border-radius: 100%;

}

.profile-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: left !important;
  width: 100%;
}

.profile-info div {
  margin-bottom: 5px;
}

.profile-info span:first-child {
  font-weight: bold;
}


