@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* margin: auto; */
  font-family: "Inter", sans-serif;
  font-variation-settings: "slnt" 0;
  font-optical-sizing: auto;
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

section {
  /* height: 100dvh; */
  min-height: 100vh;
  position: relative;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgba(20, 70, 67, 1) 3%,
    rgba(39, 119, 104, 1) 38%,
    rgba(20, 70, 67, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave-1 {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: absolute;
  width: 200%;
  height: 20rem;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  top: 40rem;
  left: 0;
  z-index: 1;
}
.wave-1:nth-of-type(2) {
  top: 41.25rem;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave-1:nth-of-type(3) {
  top: 42.5rem;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

/* .wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: absolute;
  width: 200%;
  height: 20rem;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  top: -14rem;
  left: 0;
  z-index: 1;
} */

/* .wave:nth-of-type(2) {
  bottom: -1.25em;
  top: -14.25rem;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  top: -14.5rem;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
} */

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 5rem;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  z-index: 10;
}

.navbar.sticky {
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo {
  float: left;
  font-size: 1.7rem;
  color: white;
  font-weight: 600;
}

.nav-links {
  float: right;
  margin-left: auto;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
}

.nav-links li a {
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.get-started-btn {
  border-radius: 6px;
  font-size: 14px;
  color: #043f2e !important;
  background-color: #c8f169;
  font-weight: 500;
  border-style: none;
  padding: 1rem 1.5rem !important;
  align-self: center;
  font-size: 16px;
  font-weight: 600;
}

/* Style changes when navbar is sticky */
/* .navbar.sticky .nav-links li a {
  color: black;
} */

.navbar.sticky .nav-links li a:hover {
  background-color: var(--yellow-text-color);
  color: black;
}

@media (max-width: 1024px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }

  .logo {
    float: none;
    font-size: 1.3rem;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    transition: max-height 0.3s ease-in-out;
  }

  .nav-links.open {
    max-height: 200px;
  }

  .nav-links li {
    display: block;
    padding: 10px 0;
  }
  .nav-links li a {
    color: black;
  }

  .hamburger {
    /* display: block;
          float: right; */
    cursor: pointer;
    padding: 8px 12px;
  }

  .hamburger-line {
    width: 25px;
    height: 3px;
    background-color: white;
    display: block;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
}

/* test styling statrts here */
.section-1 {
  margin-top: 14rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 8px;
  /* align-content: flex-start; */
  align-items: center;
  /* margin: 0 auto; */
}
h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #e1ffa0;
  text-align: center;
}
h1 {
  font-size: 72px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
}
h2 {
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
}
.section-1 p,
.section-2 p {
  width: 40%;
  text-align: center;
  color: #ffffff8f;
  font-size: 18px;
}
/* input field */

.track-form {
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 6px;
  border-radius: 8px;
  width: 100%;
  max-width: 40vw;
  margin-top: 1rem;
}

.input-group {
  display: flex;
  gap: 0px;
}

.track-input {
  height: 52px;
  width: 100%;
  padding: 8px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  flex-grow: 1;
  border: none !important;
}

.input-group input::placeholder {
  font-weight: 600;
  font-size: 16px;
}
.input-group button {
  font-size: 16px;
  font-weight: 600;
}
input:focus {
  border: none;
}

.track-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #134341;
  color: #fff;
  padding: 8px 24px;
  border: none !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  text-wrap: nowrap;
  text-decoration: none;
  text-align: center;
}

.track-btn:hover {
  background-color: #0e2c29;
}
/* section-2 */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 14400px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 26px;
  }
  .section-2 {
    padding: 2rem 2rem !important;
  }
  .section-1 p,
  .section-2 p {
    width: 100%;
    padding: 0rem;
  }
  .track-form {
    max-width: 90vw;
  }
  .input-group {
    flex-direction: column;
    gap: 0.8rem;
  }
  .track-input {
    border-radius: 6px;
  }
  .input-group button {
    border-radius: 6px;
    height: 52px;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.section-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 8rem 2rem;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: #0e2c29;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  margin-top: 20rem;
  z-index: 5;
}

.service-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.8rem;
  border-radius: 10px;
}
.service-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.service-card h4 {
  margin-top: 1.5rem;
  color: #ffffff;
}

.service-card p {
  width: 100%;
  font-weight: 400;
}

.circle-1 {
  height: 76px;
  width: 76px;
  padding: 10px;
  border-radius: 100%;
  background-color: rgba(225, 255, 160, 0.2);
}
.circle-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(225, 255, 160, 0.4);
}
.circle-2 .far {
  color: rgba(225, 255, 160, 1);
  text-align: center;
  transform: scale(1.3);
}

/* section-3 */
.section-3 {
  background-color: #f1f3f3;
  padding: 2rem 5rem;
}
.section-3 .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #134341;
  border-radius: 10px;
  min-height: 350px;
  padding: 5rem 7rem;
  gap: 4rem;

  /* New styles for background image */
  background-image: url("/images/Online-Banking-Testimonial-BG.webp"); /* Replace with your image path */
  background-position: left top; /* Positions image at top-left corner */
  background-repeat: no-repeat; /* Prevents image from tiling */
}

.section-3 .container img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.testimonial {
  /* font-style: italic; */
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 10px;
  color: #ffffff;
}

.author {
  margin-top: 2rem;
  color: #c8f169;
  font-weight: bold;
}
@media (max-width: 768px) {
  .section-3 {
    padding: 2rem 2rem;
  }
  .section-3 .container {
    flex-direction: column;
    padding: 4rem 2rem;
  }
}

/* container 2 */

.container-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4rem 0;
}

.left-side,
.right-side {
  padding: 20px;
}

.left-side {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 2rem;
}

.left-side img {
  height: 50px;
}

.right-side {
  width: 50%;
}

.right-side h2 {
  color: #0e2c29;
  text-align: left;
  margin-bottom: 15px;
  font-weight: 700;
}

.integrations {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* .integrations img {
  width: 80px;
  height: 80px;
} */
.right-side button {
  margin-top: 2rem;
  padding: 0.8rem 1rem;
  background-color: #0e2c29;
  color: #c8f169;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.right-side button:hover {
  background-color: #134341;
}
.right-side .circle-1 {
  background-color: rgba(39, 119, 104, 0.2);
}
.right-side .circle-2 {
  background-color: rgba(39, 119, 104, 0.5);
}
.right-side .circle-2 .far {
  color: rgba(39, 119, 104, 1);
}

.payments-description {
  margin-top: 1rem;
  color: #070707;
  font-weight: 500;
}
@media (max-width: 768px) {
  .container-2 {
    flex-direction: column-reverse;
  }
  .left-side,
  .right-side {
    width: 100%;
  }
  .left-side {
    grid-template-columns: repeat(1, 1fr); /* Two equal columns */
  }
}

/* footer and contact info */
footer {
  background-color: #f1f3f3;
}
.footer-container {
  background-color: #0e2c29;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 3rem 1rem;
}
.contact-info {
  display: flex;
  padding: 2rem 3rem;
  align-items: center;
  color: #f0f0f0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.contact-title {
  font-weight: bold;
  margin-right: auto;
  font-size: 36px;
}

.contact-details {
  text-align: right;
}

.label {
  font-weight: bold;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem 0 3rem;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.banner img {
  height: 60px;
}

.copyright {
  font-size: 1rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  color: #f0f0f0;
}
@media (max-width: 768px) {
  .contact-info {
    padding: 1rem 1rem;
    flex-direction: column;
  }

  .contact-title {
    font-size: 28px;
    margin-bottom: 10px;
    margin-right: 0px;
    text-align: center;
  }
  .contact-details {
    text-align: center;
  }
  .button-container {
    flex-direction: column;
    gap: 4px;
    padding: 1rem;
  }
}
